@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:purple" class="display-4"><strong>Haber Portalı</strong></h1>
   <br />
   <br />
   <p> <img src="/img/haberr.png"</p>
   <p style="font-size:24px";>Haberlerimize Ulaşmak İçin Lütfen Kayıt Ol Butonundan Kaydolunuz.</p>

</div>
