@{
    ViewData["Title"] = "";
}
<h1>@ViewData["Title"]</h1>
<div class="text-center">

<h1 style="color:purple" class="display-4"><strong>Kişisel Bilgiler</strong></h1>
<br />
<br />
    <p style=" font-size:24px">Yapımcı: Mahmud Sami Çalışkan</p>
    <p style=" font-size:24px">Okul Numarası: 20221129067</p>
<div/>